@font-face {
	font-family: 'TildaSansLight';
	src: url('../../../assets/fonts/TildaSans-Light.eot');
	src:
	     url('../../../assets/fonts/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
	     url('../../../assets/fonts/TildaSans-Light.woff2') format('woff2'),
	     url('../../../assets/fonts/TildaSans-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

header {
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75%;
  padding-right: 0.75%;

  img {
    height: 21px;
    width: auto;
    margin-left: 10px;
  }

  .header-right {
    display: flex;
    align-items: center;

    .nav-links {
      display: flex;
      gap: 16px;
      align-items: center;
      font-family: 'TildaSansLight';
      font-weight: 400;

      a {
        color: black;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    login-btn {
      margin-left: 20px;
    }
  }
}

.content-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .left-content {
    flex: 1;
    padding-right: 10px;
    h2 {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .right-content {
    flex: 1;
    padding-left: 10px;
  }
}
