:host {
  padding-right: 20px;
}

button {
  float: right;
  background-color: rgb(181, 251, 221);
  border: none;
  padding: 10px 20px;
  color: black;
  border-radius: 20%;
  cursor: pointer;

  &:hover {
    background-color: rgb(181, 251, 221);
  }
}

