:host {
    display: block;
    position: relative;
    height: 70%;
    background-color: rgb(181, 251, 221);
  }

  button {
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgb(181, 251, 221);
    border: none;
    padding: 10px 20px;
    color: black;
    cursor: pointer;

    &:hover {
      background-color: rgb(181, 251, 221);
    }
  }
